* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input, 
select,
button {
  padding: 0.5em;
}

.header {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #000;
  color: #FFF; 
}

.search-bar,
.filters-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #FFF; 

  padding: 1em;
}

label {
  margin-right: 0.5em;
}

.search-bar {
  background-color: slategray;
}

.filters-bar {
  background-color: lightslategray;
}

.filter {
  margin: 0 1em;
}

.search-results-item {
  max-width: 700px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;

  padding: 1em;
}

.book__cover-and-price {
  margin-right: 2em;
}
